* {
	margin: 0;
	font-family: Calibri, Helvetica;
}

.header {
	background-color: #B2CCCC;
	height: 100px;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -50px;
}

.leftBar {
	position: absolute;
	width: 10%;
	left: 1%;
	margin-top: 1%;
	background-color: #FAFCFC;
}

.centerBar {
	width: 43%;
	margin-top: 1%;
	margin-left: 12%;
}

.rightBar {
	position: absolute;
	width: 43%;
	right: 1%;
	margin-top: 1%;
}

.footer, .push {
	height: 50px;
}

.footer {
	background-color: #2B3535;
	clear: both;
	text-align: center;
	color: white;
}

#menubutton {
	background-color: #ebf1f6;
	border: 1px solid #B2CCCC;
	width: 100%;
	margin-top: 5px;
}
.delete:before {
	content: "\2718";
}

input:required:invalid {
	border: 1px solid red;
}

input:pattern:invalid {
	border: 1px solid red;
	background-color: LightSalmon;
}

input:required:valid {
	border: 1px solid green;
}
table {
	border: 0px;
  }